html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.parent {
    height: 30%;
    width: 35%;
    background-color: lightgray;
    border: 1px solid black;
    position: relative;
    top: 50px;
    left: 500px;
}
.child{
    height:30%;
    width: 35%;
    background-color: salmon;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    left: 80px;
    /*child the children of parent whose position is relative thats why child position would be absolute*/
}
.chatbot{
    height:100px;
    width:100px;
    background-color:red;
    margin:40px;
    display:flex;
    justify-content:center;
    align-items:center; 
    font-weight:bolder;
    opacity:0.7;
    border: radius 20%;
    position:fixed;
    right:0;
    bottom:0;
}
.sticky{
    height:10%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    background-color: blue;
    position:fixed;
    opacity:0.7;
    top:0;
    left:0;


}